body{
    /* choosing the font type and background for the body  */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    line-height: 1;
  
}



/* removing the dots from the nav points */
nav ul  {
    list-style: none;

}
nav ul li {
    display: inline-block;
    width: 25%;
    padding: 1em;
    box-sizing: border-box;
    font-size: 20px;

}
/* changing the colour of the nav points */
nav ul li a {
    color: black;
  
} 
/* adding a border around the contact area */
aside{
    border: 1px solid black;
}

   
/* adding a background for the nav points when we hovered on them */
nav a:hover {
    background-color: burlywood;
}
h1 {
    /* adding an image as a background */
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: 33.9em;
    background-position: center;
    background-repeat: no-repeat;
    text-align:center;
    color: white;
    font-size: 3rem;
    padding: 6em 4em 4em 4em
}

h2, h3, h4{
    font-size: 1.8rem;
}
    nav ul li a:link {
   
    font-size: 1.8rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1em 2em 1em 2em;
    
}
section { 
    font-size: 1.5rem;

}




a[href="#story"] {
  
    border: 1px solid #343434;
    border-bottom: none;
     border-top: none;   
    
}

p{
    
    margin: 0.5rem 1rem;
    font-size: 1.7rem;
   
   
}
    
    
     article img{
        float: left;
        width: 12em;
        height: 12em;
        margin: 0.5rem 1.5rem 1.5rem 0; 
    
}
article{
    padding: 20px;
}


/* choosing multiple elements to apply same styles */
nav, main, footer {

    background-color:rgba(255, 255, 255, 0.2) ;
    padding:1em;
    max-width: 1600px;
    margin: auto;
   

}
div, input,
textarea {
    /* changing the size of the text and input areas */
   width: 97%;
    padding: 1.5rem;
   
    
}
textarea {
    height: 5em;
    resize: none;
}
/* id selector */
#radio input {
    width: 1rem
}
/* styling the submit button */
button {
    width: 5rem;
    padding: 1.5em;
    background-color: inherit;
}
footer{ 
    /* chaning the placement of the copyright */
    text-align: right;
}