/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset */
/* Sarting with mobile viwe */

/* chosing the bacckground color and font type for the whole page  */
/* 0 0 0 1 */
body {
    background-color: rgba(187, 196, 182, 0.521);
      font-family: sans-serif;
}

/* styling the header area  */
/* 0 1 1 0*/
 nav#nav {
    background-color:  #c3c7b2;
    border: 1px solid black;  
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: -2rem;
    margin-bottom: -2rem;
  
    
  }
/* styling the nav  */
/* 0 0 1 1 */
nav .nav-link {
  
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 1rem;
}
/* styling hello section  */
/* 0 1 0 1 */
section#home {
background-color: #c3c7b2;
text-align:inherit;
font-family:Arial, Helvetica, sans-serif;
line-height: 30px;
padding: 45px;
border-bottom: 1px solid black;
border-top: 1px solid black;
font-size: 20px;
}


/* styling h1  */
/* 0 0 0 1 */
h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 14px;
    width: 100px;   
}

/* styling about me section  */
/* 0 1 0 1 */
section#about {
    background-color: #c3c7b2;
    color: black;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: inherit;
    padding: 45px;
    border-bottom: 1px solid black;
}
/* styling h2  */
/* 0 0 0 1 */
 h2 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 14px;
    margin-top: -20px;
}
/* hiding the image in the mobile view  */
/* 0 0 1 0 */
 .about-image {
   display: none;  
}

/* styling the contact area  */
/* 0 1 0 1 */
 section#contact{
    background-color: #c3c7b2;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: inherit;
    padding: 45px;
    border-bottom: 1px solid black;
}

/* 0 0 1 1  */
 section .section-title {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 14px;
    margin-top: -20px;

}

/* styling the form and chainging the size */
/* 0 0 1 1 */
section .contact-form {
background-color:rgba(229, 230, 228, 0.548);
margin-top: 2rem;
margin-left: -0rem;
width: 80%;

}

/* 0 0 1 1 */
section .contact-form-section {
    width: 100%;
    margin-left: -1rem;
}

 /* preventing the textarea from moving */ 
 /* 0 0 0 1 */
textarea {
    resize: none;
}

/* centering the footer  */

footer {
    text-align: center;
}

/* Desktop view  */
/* Media Query going to be used for desktop user */
/* 0 0 1 1 */
@media screen and (min-width:500px) {

    /* 0 0 0 1 */
    body{
        width: 1200px;
        margin: 0px auto;
        }
   
    /* 0 1 0 1 */
    nav#nav {
        text-align: center;
        width: 1140px;
        }

    /* 0 0 1 1 */
    nav .nav-link {
        margin: 1rem;
        font-size: 1.5rem;
        display: inline-block; 
        padding-left: 6rem;
        padding-right: 6rem;
         }
      
    /* appearing the image in desktop view  */
    /* 0 0 1 1 */
    section .about-image {
          display: inline;
          float: right;
          margin-top: 1.5rem;
          margin-right: -5rem;
          width:200px
          
      }
    

    }
    
    
    
    
   
    
    
   

